<div class="navbar-custom topnav-navbar topnav-navbar-dark">
    <div class="container-fluid">

        <!-- LOGO -->
        <a href="index.html" class="topnav-logo">
            <span class="topnav-logo-lg">
              <img src="assets/images/logo-light.png" alt="" height="16">
          </span>
            <span class="topnav-logo-sm">
              <img src="assets/images/logo_sm.png" alt="" height="16">
          </span>
        </a>

        <ul class="list-unstyled topbar-menu float-end mb-0">



            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" id="topbar-userdrop" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="account-user-avatar">
                      <img src="assets/images/users/avatar-1.jpg" alt="user-image" class="rounded-circle">
                  </span>
                    <span>
                      <span class="account-user-name">Dominic Keller</span>
                    <span class="account-position">Admin</span>
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown" aria-labelledby="topbar-userdrop">
                    <!-- item-->
                    <div class=" dropdown-header noti-title">
                        <h6 class="text-overflow m-0">Bienvenido !</h6>
                    </div>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-account-circle me-1"></i>
                        <span>Mi cuenta</span>
                    </a>

                    <!-- item-->
                    <a data-bs-toggle="modal" data-bs-target="#change-password-modal" class="dropdown-item notify-item " style="cursor: pointer;">
                        <i class="mdi mdi-account-edit me-1"></i>
                        <span>Cambia contraseña</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-logout me-1"></i>
                        <span>Cerrar sesión</span>
                    </a>

                </div>
            </li>

        </ul>

    </div>
</div>

<!-- ========= ===================== =========== -->
<!-- ========= ===================== =========== -->
<!-- ========= CHANGE PASSWORD MODAL =========== -->
<!-- ========= ===================== =========== -->
<!-- ========= ===================== =========== -->
<div id="change-password-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center mt-2 mb-4">
                    <a href="index.html" class="text-success">
                        <span><img src="assets/images/logo-dark.png" alt="" height="18"></span>
                    </a>
                </div>

                <form action="#" class="ps-3 pe-3">

                    <div class="mb-3">
                        <label for="current-password" class="form-label">Contraseña actual</label>
                        <input class="form-control" type="text" id="current-password" required="" placeholder="john@deo.com">
                    </div>

                    <div class="mb-3">
                        <label for="password1" class="form-label">Nueva contraseña</label>
                        <input class="form-control" type="password" required="" id="password1" placeholder="Enter your password">
                    </div>



                    <div class="mb-3 text-center">
                        <button class="btn rounded-pill btn-primary" type="submit">Guardar</button>
                    </div>

                </form>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->