<div class="leftside-menu leftside-menu-detached">

    <div class="leftbar-user">
        <a href="javascript: void(0);">
            <img src="assets/images/users/avatar-1.jpg" alt="user-image" height="42" class="rounded-circle shadow-sm">
            <span class="leftbar-user-name">Dominic Keller</span>
        </a>
    </div>

    <!--- Sidemenu -->
    <ul class="side-nav h-100">

        <li class="side-nav-title side-nav-item">Push</li>

        <li class="side-nav-item">
            <a [routerLink]="['/Home/Push/NewPushMessage']" routerLinkActive="activ" class="side-nav-link">
                <i class=" uil-comment-plus"></i>
                <span> Nuevo mensaje </span>
            </a>
        </li>
        <li class="side-nav-item">
            <a [routerLink]="['/Home/Push/PushHistorial']" routerLinkActive="activ" class="side-nav-link">
                <i class="uil-comment-lines"></i>
                <span> Historial  </span>
            </a>
        </li>
        <li class="side-nav-item">
            <a [routerLink]="['/Home/Push/PushReport']" routerLinkActive="activ" class="side-nav-link">
                <i class="uil-horizontal-align-left"></i>
                <span> Reportes </span>
            </a>
        </li>

        <li class="side-nav-title side-nav-item">SMS</li>

        <li class="side-nav-item">
            <a [routerLink]="['/Home/Sms/NewSMS']" routerLinkActive="activ" class="side-nav-link">
                <i class=" uil-comment-plus"></i>
                <span> Nuevo mensaje </span>
            </a>
        </li>
        <li class="side-nav-item">
            <a [routerLink]="['/Home/Sms/SMSHistorial']" routerLinkActive="activ" class="side-nav-link">
                <i class="uil-comment-lines"></i>
                <span> Historial  </span>
            </a>
        </li>
        <li class="side-nav-item">
            <a [routerLink]="['/Home/Sms/SMSReports']" routerLinkActive="activ" class="side-nav-link">
                <i class="uil-horizontal-align-left"></i>
                <span> Reportes </span>
            </a>
        </li>

        <li class="side-nav-title side-nav-item">Email</li>

        <li class="side-nav-item">
            <a [routerLink]="['/Home/Email/NewEmail']" routerLinkActive="activ" class="side-nav-link">
                <i class=" uil-comment-plus"></i>
                <span> Nuevo mensaje </span>
            </a>
        </li>
        <li class="side-nav-item">
            <a [routerLink]="['/Home/Email/EmailHistorial']" routerLinkActive="activ" class="side-nav-link">
                <i class="uil-comment-lines"></i>
                <span> Historial  </span>
            </a>
        </li>
        <li class="side-nav-item">
            <a [routerLink]="['/Home/Email/EmailReports']" routerLinkActive="activ" class="side-nav-link">
                <i class="uil-horizontal-align-left"></i>
                <span> Reportes </span>
            </a>
        </li>

        <li class="side-nav-title side-nav-item">Configuraciones</li>

        <li class="side-nav-item">
            <a [routerLink]="['/Home/Config']" routerLinkActive="activ" class="side-nav-link">
                <i class="  uil-cog"></i>
                <span> Grupos de usuarios  </span>
            </a>
        </li>

    </ul>
    <!-- End Sidebar -->
    <div class="clearfix"></div>
    <!-- Sidebar -left -->

</div>
